<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="kopf" class="seitenkopf">
    <div class="kopf-inhalt content-width">
        <div class="app-title" th:text="#{app.titel}">
            Benutzerverwaltung
        </div>

        <nav class="sprachwahl">
            <a th:href="@{?sprache=de}">Deutsch</a>
            <a th:href="@{?sprache=en}">English</a>
            <a th:href="@{?sprache=nl}">Nederlands</a>
        </nav>
    </div>
</header>

<footer th:fragment="fuss" class="seitenfuss"></footer>

</body>
</html>